<!DOCTYPE html>{% load staticfiles %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Fjord+One" rel="stylesheet">
    <link rel="stylesheet" href="{% static "simplecv/simplecv.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
</head>
<body>
    <div class="formats print-hide">
        <div>View as:
            <a href="{% url 'simplecv:docx-view' %}">MS Word</a> |
            <a href="{% url 'simplecv:simplecv-format' 'pdf' %}">PDF</a> |
            <a href="{% url 'simplecv:simplecv-format' 'txt' %}">Plain Text</a>
        </div>
        <div>Download as:
            <a href="{% url 'simplecv:simplecv-format' 'docx' %}?download">MS Word</a> |
            <a href="{% url 'simplecv:simplecv-format' 'pdf' %}?download">PDF</a> |
            <a href="{% url 'simplecv:simplecv-format' 'txt' %}?download">Plain Text</a>
        </div>
        <div><a class="print-link" href="#">Print</a></div>
    </div>
    <div class="cv-container"></div>
    
{% verbatim %}
<script id="cv-html" type="text/x-handlebars-template">
    <div class="cv cv-header">
        <div class="vcard header clearfix">
            {{#if image}}<img class="print-hide" src="{{ image }}">{{/if}}
            <h1 class="fn n">{{ name }}</h1>
            <div class="web">
                <span class="email">{{ email }}</span>
                <br>
                <a href="tel:{{ tel }}">{{ tel }}</a>
                {{#each urls}}
                <br>
                <a class="website" href="{{ this }}">{{ this }}</a>{{/each}}
            </div>
        </div>
    </div>
    <div class="cv cv-summary">
        <h2>Summary</h2>
        <p class="summary">{{ summary }}</p>
    </div>
    <div class="cv cv-skills">
        <h2>Skills</h2>
        <dl class="skills clearfix">{{#each skills}}
            <dt class="skillarea">{{ key }}:</dt>
            <dd class="skillset">{{ value }}</dd>{{/each}}
        </dl>
    </div>
    <div class="cv cv-experience">
        <h2>Work Experience</h2>{{#each experience}}
        <div class="experience vevent vcard">
            <h3>
                <span class="org">{{ this.org }}</span>
                <span class="location">{{ this.location }}</span>
            </h3>
            {{#each positions}}
            <h4 class="title">
                {{ this.title }}
                <span class="period">
                    <abbr class="dtstart">{{ this.period.from }}</abbr> &ndash;
                    <abbr class="dtend">{{ this.period.to }}</abbr>
                </span>
            </h4>
            <p class="description">{{ this.description }}</p>
            <ul class="achievements">{{#each this.achievements }}
                <li>{{ this }}</li>{{/each}}
            </ul>{{/each}}
        </div>{{/each}}
    </div>
    <div class="cv cv-education">
        <h2>Education</h2>
        <div id="education">{{#each education}}
            <div class="degree">
                <span class="entity">{{ entity }}</span>
                <span class="location">{{ location }}</span>
                <span class="degree-type">{{ degree }}</span>
                <span class="discipline">{{ discipline }}</span>
            </div>{{/each}}
        </div>
    </div>
    <footer><em>Last Modified: {{ last_mod }}</em></footer>
</div>
</script>
{% endverbatim %}
{% load simplecv_tags %}
<script src="{% static "simplecv/simplecv.js" %}"></script>
<script>
    (function() {
        CV.render('.cv-container', {{ cv|json:"4"|safe }});
    }());
</script>
</body>
</html>
